
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

    <title>Les comédiens</title>



  <body>




<div class="mycontainer">





<h2> Comédiennes et comédiens des Laboratoire du Bazar Baroque</h2>



<br/>
<br/>

<div class="row">

  <div class="col-sm-6">
      <div class="card">
            <div class="card-body">
               <img src= assets/ElodieDevin-Photo.jpg alt="Photo de la comédienne Elodie Devin" >
               <h5 class="card-title">Elodie Devin</h5>
               <p class="card-text">Depuis toute jeune, Elodie manifeste un élan naturel pour le jeu, la comédie et la danse qu’elle exprime en suivant les cours de théâtre du collège et lors de concours d’éloquence au lycée. Elle suit d’abord des cours amateurs au « Circulo Teatral » de Mexico, étant expatriée, puis à son retour à Paris, elle se professionnalise aux cours Florent. Menant en parallèle une carrière commerciale, elle vit le théâtre comme une passion à travers des ateliers et cours amateurs : « Ateliers pour l’instant » de Julie Goudard, cours d’improvisation à l’EFIT de Esteban Perroy et dernièrement les cours de Maxime Bailleul aux Ateliers du Sudden. Au théâtre, elle a interprété les rôles de Clarisse dans "Mais N'te promène donc pas toute nue" de Feydeau, Francine dans "Dormez, Je le veux ! de Feydeau", Elmire dans "Le Tartuffe ou l'Imposteur" de Molière, mises en scène de Christian-David Meslé, Olivia dans « La Nuit des Rois » de W. Shakespeare mise en scène par Julie Goudard; Juliette, Harpagon et Rosine dans « Le Théâtre s’invite à l’Opéra mis en scène par Marco Avallone.</p>
               <a href="https://www.facebook.com/elodie.devin.7" class="btn btn-primary">Plus d'infos</a>
            </div>
      </div>
  </div>



  <div class="col-sm-6">
      <div class="card">
            <div class="card-body">
                <img src= assets/AymericDein-Photo.jpg alt="Photo du comédien Aymeric Dein" >
                <h5 class="card-title">Aymeric Dein</h5>
                <p class="card-text">Aymeric Dein,alias Frère Laurent, découvre le théâtre assez tardivement lors de ses études universitaires en Bretagne, à Rennes 2. Pourtant, il choisira la voie du cinéma pour devenir technicien. Malgré des études à l'Esra et avoir travaillé plusieurs années pour la télévision et le cinéma, Aymeric reste passionnée de théâtre. Continuant toujours à faire quelques rôles dans les courts métrages, il change de carrière en 2014 et intègre les Ateliers du Sudden puis Claude Mathieu en 2016 pour apprendre le métier de comédien. En 2021, il joue Oronte et Dubois dans une adaptation du Misanthrope. Il apparaît aussi dans la série 3615 Monique. Actuellement, il prépare aussi l'adaptation de Georges Dandin au théâtre du Nord-Ouest. .</p>
                <a href="https://nawak.com/book/aymeric_dein" class="btn btn-primary">Plus d'infos</a>
            </div>
       </div>
    </div>
    

  </div>




  

    <div class="row">

      <div class="col-sm-6">
          <div class="card">
                <div class="card-body">

                                    <img src= assets/StephanBecquerel-Photo.jpg alt="Photo du comédien Stephan Becquerel">
                      <h5 class="card-title">Stéphan Becquerel</h5>
                    <p class="card-text">Etudiant en 3eme année d'histoire de l'art,
                    et passionnée de théâtre depuis l'âge de 7 ans. elle a été élève au
                    conservatoire de théâtre d'Orléans pendant 3 ans. Arrivée à Paris pour
                      ses études, elle a été membre de la compagnie Candela dans le  6eme
                      arrondissement pendant un an.
                      Depuis septembre 2021, élève au conservatoire de théâtre du centre.
                      </p>
                    <a href="https://demainleprintemps.fr/" class="btn btn-primary">Plus d'infos</a>
                </div>
          </div>
      </div>


      <div class="col-sm-6">
      <div class="card">
            <div class="card-body">
            <img src= assets/JosephinedeCastelbajac-Photo.jpg alt="Photo de la comédienne Joséphine de Casltelbajac">
              <h5 class="card-title">joséphine de Castelbajac</h5>
              <p class="card-text"> Etudiante en 3eme année d'histoire de l'art,
              et passionnée de théâtre depuis l'âge de 7 ans. elle a été élève au
              conservatoire de théâtre d'Orléans pendant 3 ans. Arrivée à Paris pour
              ses études, elle a été membre de la compagnie Candela dans le  6eme
              arrondissement pendant un an.
              Depuis septembre 2021, élève au conservatoire de théâtre du centre.</p>
              <a href="https://conservatoires.paris.fr/p/3328-admissions-en-art-dramatique" class="btn btn-primary">Plus d'infos</a>
            </div>
      </div>
      
    </div>


    <div class="col-sm-6">
      <div class="card">
            <div class="card-body">
            <img src= assets/Facteur-Boyaire-Photo.jpg alt="Photo de la comédienne Joséphine de Casltelbajac">
              <h5 class="card-title">Le facteur Boyaire</h5>
              <p class="card-text"> L'auteur, avec Labiche, de la pièce. Egalement metteur en scène, régisseur, chargé de diffusion, masseur; etc.</p>
              <a href="https://boyaire.wixsite.com/acteur" class="btn btn-primary">Plus d'infos</a>
            </div>
      </div>

    

</div>

 
  </body>
</html>