
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

    <title>Les laboratoires du Bazar Baroque</title>

  <body>
  
 

<div class="mycontainer">

<div class ="center">
 
      <div class="myimg">
        
      <img src= assets/Vi-Affiche.jpg id="affiche">

      </div>


 </div>

 

</div>