<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

    <title>Le précieux journal des laboratoires du Bazar Baroque</title>
 


  <body>


<div class="mycontainer">



  
      <div class ="center">
      

        <div class ="articljour">
         
          <h4> On espère relancer le podcast</h4>
          <p class="articldate"> Le 29 avril de l'an 2023</p>
          
          <img src= assets/Theatrophone03.jpg id="affiche">
          <p> Le cataclysme qui a emporté notre précédent site internet -et contre lequel notre astrologue à Bénarès a malheureusment négligé de nous avertir- a laissé un grand vide : la grande opération de podcasts sonores avec l'Inde pour sujet est reportée. On espère s'en remettre et vous proposer le plus rapidement possible ces enregistrements de textes de voyageurs aux Indes, L'inde des minarets (le nord) ainsi que l'Inde des palmes (le sud). Les auteurs de ces textes choisis sont,
           entre autres, Emile Guimet -fondateur du musée du même nom- et surtout Alexandra David-Néel, la grand exploratrice -surtout connue pour ses voyages au Tibet mais qui a aussi traversé l'inde, bien sûr.  </p>
          
    

        </div>



        <div class ="articljour">
         
          <h4> Notre astrologue nous indique les meilleures dates</h4>
          <p class="articldate"> Le 6 janvier de l'an 2023</p>

          <img src= assets/14-Janvier-AstroIndienne-00.jpg id="affiche">

          <p>   Notre astrologue à Bénares nous a signalé qu'à la date du 14 janvier 2023 Vénus entre en Bélier: La planète de l’amour s’apprête à quitter la constellation des Poissons pour celle du Bélier : et croyez-nous, l’ambiance astrale n’est pas la même ! Ca va chauffer sur le plateau dans les questions amoureuses ! Alors venez nombreux pour cette nouvelle date de représentation extraordinaire soigneusement sélectionnée dans les étoiles par notre astrologue à Bénarès!</p>
          <p>    Alors venez nombreux pour cette nouvelle date de représentation extraordinaire soigneusement sélectionnée dans les étoiles par notre astrologue à Bénarès!</p>
    

        </div>


          

     </div>  






      
 

</div>






 
  </body>
</html>