
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

    <title>Partenariats</title>


 


  <body>

  




<div class="mycontainer">


  <h1></h1>



  
  
  <div class="myimg">
  

    <div class ="center">

      <div class ="parag01">
            <h4>Ouvrez vos mirettes, c'est à Marseille que ça se passe !"</h4>
            <img src= assets/Marylin_Marseille.jpg id="affiche">
        <br/>
        <br/>
            <p >          
            On reprend à Marseille la fameuse pièce du facteur Boyaire, adaptée du célèbre film "Certains l'aiment chaud" (1959) de l'immense billy Wilder (avec Marylin Monroe en vedette), remake hollywodien d'un film allemand de 1951 ("Fanfaren der Liebe" de Kurt hoffmann) lui-même largement copié sur l'original français réalisé par Richard Pottier et sorti en 1935: "Fanfare d'amour" (on s'arrête là). Eh bien, de nos jours, c'est la compagnie Root'Arts qui s'y colle ! Renseignez-vous auprès d'eux pour les prochaines dates.
          </p>
            <a class="nav-link" href="https://cie-rootarts.fr/spectacles/">Compagnie Root'Arts</a>
       </div>

  <br/>

   
  


        <div class ="parag01">

          <h4>La cie Root' Art reprend "Fanfare d'Amour : vaudeville épique"</h4>
          <img src= assets/farootarts.jpg id="affiche">
          <br/>
          <br/>
          <p >  L'histoire de deux comédiens, deux tocards, qui se disputent dans un bar au sujet d'un projet de théâtre complètement fou : l'adaptation à la scène du célèbre film de Billy Wilder "Certains l'aiment chaud". Au moment de partir, ils réalisent que ni l'un ni l'autre n'a les moyens de payer l'addition. Contraints et forcés, ils vont alors tenter de jouer au chapeau devant les clients du bar le fameux texte. Entreprise périlleuse qui les mènera au delà de ce qu'ils imaginaient, quelque part entre fiction et réalité, entre le monde des hommes et celui des femmes.
          </p>

        </div>
    
       
      
        <div class ="parag01">

                    <p >
            Les deux comédiens de Root'Arts suivent les pas de leurs grandes devancières: Jayne Mansfield et Mamie Van Doren, clones de Marylin Monroe lancées par les studios afin de concurrencer la star qui avait osé défié leur loi (en déménageant à New-York pour produire elle-même ses films, en 1962). Les clones copièrent tout de Marylin: sa blondeur, ses mensurations, sa poitrine... et son fameux déhanché (cf la légende du talon légèrement limé). Deux des "3 M"  (Mayrlin Monroe et Jayne Mansfield) connurent une fin tragique. 

            On souhaite à David et rodolphe la longévité de la survivante, qui continue à 95 ans, en tant que "Blonde Bombshell Mamie van Doren", à perpétuer sur Facebook le mythe de la blonde des années 50. 
                    </p>

            <img src= assets/ThreeM.jpg id="Les 3 M dans les années 60">


        </div>

<br/>

<iframe width="800" height="615" src="https://www.youtube.com/embed/XVx4GBx4cb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<br/>

<a class="nav-link" href="https://www.facebook.com/profile.php?id=100032868326359">Blonde Bombshell Mamie Van Doren (95 ans) toujours dans le coup sur FaceBook!</a>

<img src="assets/MamieVanDoren.jpg" id="affiche" style="max-width: 800px;">





    
        









</div>






 
  </body>
</html>