
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

    <title>Prochaines dates</title>


<div class="mycontainer">

</br>
</br>
</br>
</br>

<p>
Pas de dates prévues dans votre ville actuellement.
  </p>
  <p>
    Cependant : deux dates sont à l'étude aux beaux jours de l'an 2023 dans des communes proches de Paris : les bienheureuse Villejuif et Maisons-Alfort.
    </p>

    <p>
     Une autre date est également à l'étude pur Créteil, fin juin 2023, au Théâtre Casalis.
      </p> 
  <p>
  Merci de votre précieuse patience.
  </p>


  </div>



 
  </body>
</html>