<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

    <title>La veuve infidèle</title>

 




    </head>

  <body>





<div class="mycontainer">


         <h1></h1>


     
          <p>
        
          </p>
          
          <div class ="center">
            <div class ="parag01">
    
              <h4>"La Veuve infidèle", d'à peu près Eugène Labiche</h4>
          
              <a class="nav-link" href=" https://www.billetreduc.com/296101/evtcrit.htm">Les avis des spectateurs<span class="sr-only">(current)</span></a>

         
           
    
            
            <h5> Une comédie romantique à la sauce Bollywood</h5>
    
                      <p >
                        Dans l'Inde fabuleuse, à Pondichéry, une belle marquise vient d'hériter de l'immense fortune de son défunt mari. C'est l'ébullition dans la colonie. Qui mettra la main sur ces beautés terrestres ?...

                        Pour ravir la veuve et les bijoux, les adorateurs de Kali rôdent la nuit tandis que les beaux esprits font assaut de galanterie ; esprits fiévreux, résolus aux plus fantasques tentatives: se faire voleur au bal des Fakirs, implorer une réincarnation parmi les vivants, etc.
                        
                        Une comédie à la sauce Bollywood, dans la veine orientaliste du 19ème siècle, très librement inspir-expirée de la plus exotique des pièces d'Eugène Labiche.
                        
                        Avertissement: comédie ultra-romantique !
                        
                        Dans les vieilles légendes sanskrites il est question de destinées amoureuses, des relations karmiques liant deux âmes appelées à se rencontrer. Quand, dans la ronde des réincarnations, cette convergence survient, les deux âmes se reconnaissent instantanément...

                      </p>
    
            </div>
          </div>  
    
          <div class="myimg">
          
            <img src= assets/Vi-Affiche.jpg id="affiche">

          </div>

</div>






 
  </body>
</html>